.git
.pytest_cache
.venv
.vscode
__pycache__/
*.pyc
*.pyo
*.pyd
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.synctex.gz
docs/
papers/
results.txt
main.aux
main.fdb_latexmk
main.fls
main.log
main.out
spec.aux
spec.log
spec.out
spec.pdf
testpre.aux
testpre.log
testpre.pdf
workbench/
v0/
